<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<title>Vuephp</title>
</head>
<body>
	<div id="app">
		<header> EXEMPLO DE ARQUITETURA </header>
		<nav id="menu">
			<ul>
				<li><a href="#" v-goto:home>Principal</a></li>
				<li><a href="#" v-goto:consultarUser v-if="logged">Consultar Usuário</a></li>
				<li><a href="#" v-goto:consultarCity v-if="logged">Consultar Cidade</a></li>
				<li><a href="#" v-goto:manterUser v-if="logged">Cadastrar Usuário</a></li>
				<li><a href="#" v-goto:manterCity v-if="logged">Cadastrar Cidade</a></li>
				<li><a href="#" v-goto:login v-if="!logged">Login</a></li>
				<li><a href="#" v-if="logged" @click.prevent="logout">Sair</a></li>
			</ul>
		</nav>
		<component :is="currentView" :ref="currentView"></component>
	</div>
	<div id="modal">
		<modal v-if="openned">
			<h3 slot="header">Mensagem</h3>
			<span slot="body">{{msg}}</span>
			<div slot="footer">
				<button class="modal-default-button" @click="close">{{closeButtonTxt}}</button>
				<template v-if="isConfirm">
					<button class="modal-default-button" style="margin-right: 15px;" @click="confirm">SIM</button>
				</template>
			</div>
		</modal>
	</div>
</body>
</html>