<table>
	<thead>
		<tr>
			<th><input type="checkbox" name="selecionarTodos" @change="selecionarTodos" /> Selecionar Todos</th>
			<th>Nome</th>
			<th>E-mail</th>
			<th>Ação</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="entity in entitys">
			<td><input type="checkbox" v-model="entitysCheckeds" :value="entity" /></td>
			<td>{{entity.name}}</td>
			<td>{{entity.email}}</td>
			<td><a v-goto="'manterUser/'+entity.id">Alterar</a> <a href="#" @click.prevent="remover(entity)">Remover</a></td>
		</tr>
	</tbody>
</table>
<button @click="deletarTodos">Deletar Todos Selecionados</button>
<button @click="goback">Voltar</button>