<table>
	<thead><tr><th><input type="checkbox" name="selecionarTodos" @change="selecionarTodos"/> Selecionar Todos</th><th>Nome</th><th>E-mail</th><th>Ação</th></tr></thead>
	<tbody>
		<tr v-for="user in users">
			<td><input type="checkbox" v-model="usersCheckeds" :value="user" /></td>
			<td>{{user.name}}</td>
			<td>{{user.email}}</td>
			<td>
				<a href="#" v-goto:manterUser="user.id">Alterar</a>
				<a href="#" @click.prevent="remover(user)">Remover</a>
			</td>	
		</tr>
	</tbody>
</table>
<button @click="deletarTodos">Deletar Todos Selecionados</button>
<button @click="goback">Voltar</button>