<table>
	<thead>
		<tr>
			<th><input type="checkbox" name="selecionarTodos" v-on:change="selecionarTodos" /> Selecionar Todos</th>
			<th>Nome</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="entity in entitys">
			<td><input type="checkbox" v-model="entitysCheckeds" :value="entity" /></td>
			<td>{{entity.name}}</td>
			<td><a v-goto="'manterCity/'+entity.id">Alterar</a> <a href="#" v-on:click.prevent="remover(entity)">Remover</a></td>
		</tr>
	</tbody>
</table>
<button v-on:click="deletarTodos">Deletar Todos Selecionados</button>
<button v-on:click="goback">Voltar</button>